@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /*   overflow: scroll; */
    min-width: 30vw;
    max-width: 70vw;
    /* max-width: 100%; */
}

.header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.header h2 {
    margin: 0;
}

.form {
    padding: 30px 40px;
}

.form-control {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
    /* padding-bottom: 20px; */
}

.form-control label {
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control.success input {
    border: 2px solid #2ecc71;
}

.form-control.error input {
    border: 2px solid maroon;
}

.form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: maroon;
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: visible;
}

.form-control small {
    visibility: hidden;
}

.form-control.error small {
    color: maroon;
    visibility: visible;
}

.form button {
    background-color: lightseagreen;
    border: 2px solid lightseagreen;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}